[submodule "themes/SimpleIntro"]
	path = themes/SimpleIntro
	url = https://github.com/gangjun06/SimpleIntro
[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
