/*
 * You can add styles to customize UI for your own site
 * into CSS file: static/css/site.css
 */
#header-background{
    width:100%;
    height:400x;
    background:url('https://drive.google.com/uc?export-view&id=1lPBZPKbyCD4Z_9ubOQ4arCQXJpjkTVIy');
}